body {
    margin: 0;
}

#index_Door {

    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;

    .bgfangda {
        background-image: url("../img/index/bobg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -2;

        .bgfangdamofu {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: inherit;
            filter: blur(3px);
            z-index: -1;
        }


        #wq {
            position: absolute;
            bottom: 0px;
            left: 49.9%;
            display: block;
            width: 2px;
            height: 80px;
            background-color: white;
            z-index: 10;

        }

        .door_l {
            background-image: url("../img/index/bodoor_f.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 49.9%;
            height: 100vh;
            display: inline-block;
            margin: 0;
            box-sizing: border-box;
            position: relative;


            img {
                position: absolute;

                &:nth-child(2) {
                    top: -200px;
                    left: -100px;
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 540px;
                    right: 0px;
                }
            }

            .wordsaboutus {
                margin-top: 320px;
                margin-left: 40%;

                h1 {
                    width: 350px;
                    font-size: 32px;
                }

                p {
                    width: 350px;
                    font-size: 18.72px;
                }
            }

            .iphonegif {
                position: absolute;
                width: 120px;
                bottom: 22%;
                left: 20%;
                transform: rotate(-10deg);
            }

        }


        .door_r {
            margin: 0;
            font-size: 0;
            box-sizing: border-box;
            background-image: url("../img/index/bodoor_r.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 50%;
            height: 100vh;
            float: right;
            position: relative;


            img {
                &:nth-child(1) {
                    width: 300px;
                    margin-top: 220px;
                    margin-left: 80px;
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 540px;
                    left: -290px;
                }

            }
        }

        .scrolling {
            width: 200px;
            text-align: center;
            position: fixed;
            bottom: 50px;
            left: 50%;
            transform: translate(-50%);
            font-size: 32px;
            color: white;
        }


    }

    .bgblack {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/index/bobg.png");
    }

    .bigRobor {
        position: relative;
        margin-top: 48px;
        margin-left: 16%;
        transform: translateY(-1000px);

        img {
            width: 30%;

            &:nth-child(1) {
                position: absolute;
            }

            &:nth-child(2) {
                position: absolute;
            }

            &:nth-child(3) {
                position: absolute;
            }
        }
    }

    .roborsayall {
        font-size: 28px;
        color: white;
        position: absolute;
        top: 30%;
        left: 51%;
        transform: translateY(-1000px);
    }
}

.roborsayall {
    font-size: 50px;
    color: #fff;
    position: fixed;
    left: 30%;
    bottom: 50%;
}


#rrroborcursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}