body {
  margin: 0;
}

#index_Door {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

#index_Door .bgfangda {
  background-image: url("../img/index/bobg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
}

#index_Door .bgfangda .bgfangdamofu {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: inherit;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  z-index: -1;
}

#index_Door .bgfangda #wq {
  position: absolute;
  bottom: 0px;
  left: 49.9%;
  display: block;
  width: 2px;
  height: 80px;
  background-color: white;
  z-index: 10;
}

#index_Door .bgfangda .door_l {
  background-image: url("../img/index/bodoor_f.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 49.9%;
  height: 100vh;
  display: inline-block;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#index_Door .bgfangda .door_l img {
  position: absolute;
}

#index_Door .bgfangda .door_l img:nth-child(2) {
  top: -200px;
  left: -100px;
}

#index_Door .bgfangda .door_l img:nth-child(3) {
  position: absolute;
  top: 540px;
  right: 0px;
}

#index_Door .bgfangda .door_l .wordsaboutus {
  margin-top: 320px;
  margin-left: 40%;
}

#index_Door .bgfangda .door_l .wordsaboutus h1 {
  width: 350px;
  font-size: 32px;
}

#index_Door .bgfangda .door_l .wordsaboutus p {
  width: 350px;
  font-size: 18.72px;
}

#index_Door .bgfangda .door_l .iphonegif {
  position: absolute;
  width: 120px;
  bottom: 22%;
  left: 20%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#index_Door .bgfangda .door_r {
  margin: 0;
  font-size: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/index/bodoor_r.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100vh;
  float: right;
  position: relative;
}

#index_Door .bgfangda .door_r img:nth-child(1) {
  width: 300px;
  margin-top: 220px;
  margin-left: 80px;
}

#index_Door .bgfangda .door_r img:nth-child(2) {
  position: absolute;
  top: 540px;
  left: -290px;
}

#index_Door .bgfangda .scrolling {
  width: 200px;
  text-align: center;
  position: fixed;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 32px;
  color: white;
}

#index_Door .bgblack {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.6))), url("../img/index/bobg.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/index/bobg.png");
}

#index_Door .bigRobor {
  position: relative;
  margin-top: 48px;
  margin-left: 16%;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}

#index_Door .bigRobor img {
  width: 30%;
}

#index_Door .bigRobor img:nth-child(1) {
  position: absolute;
}

#index_Door .bigRobor img:nth-child(2) {
  position: absolute;
}

#index_Door .bigRobor img:nth-child(3) {
  position: absolute;
}

#index_Door .roborsayall {
  font-size: 28px;
  color: white;
  position: absolute;
  top: 30%;
  left: 51%;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}

.roborsayall {
  font-size: 50px;
  color: #fff;
  position: fixed;
  left: 30%;
  bottom: 50%;
}

#rrroborcursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */